[project]
	description = An x86 boot pager (real to protected mode, IDE backed virtual memory, no BIOS) in 512-byes of assembly.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Charles Perkins (charlesap)
[access "refs/for/refs/*"]
	read = group user/Charles Perkins (charlesap)
	push = group user/Charles Perkins (charlesap)
	label-Code-Review = -2..+2 group user/Charles Perkins (charlesap)
	label-Verified = -1..+1 group user/Charles Perkins (charlesap)
	rebase = group user/Charles Perkins (charlesap)
	removeReviewer = group user/Charles Perkins (charlesap)
	submit = group user/Charles Perkins (charlesap)
[access "refs/heads/*"]
	read = group user/Charles Perkins (charlesap)
	create = group user/Charles Perkins (charlesap)
	push = +force group user/Charles Perkins (charlesap)
	pushMerge = group user/Charles Perkins (charlesap)
[access "refs/tags/*"]
	push = +force group user/Charles Perkins (charlesap)
	pushTag = group user/Charles Perkins (charlesap)
	pushSignedTag = group user/Charles Perkins (charlesap)
